body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    background-color: var(--white);
    color: var(--slate);
}

:root {
    --iris: #4d5ae5;
    --ocean: #404bbf;
    --navy-blue: #2e2f42;
    --green: #31d0aa;
    --slate: #434455;
    --light-slate: #8e8f99;
    --cornflower: #e7e9fc;
    --cloud: #f4f4fd;
    --navy-blue-modal: rgba(46, 47, 66, 0.4);
    --grey: rgba(46, 47, 66, 0.7);
    --white: #fff;
    --dairy: #fcfcfc;
}

h1 {
    font-size: 56px;
    line-height: 1.07143;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--white);
}

h2 {
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--navy-blue);
}

h3 {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
}

.body-med-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
}

.body-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}



/* ---------HEADER--------- */
.webstudio-logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris);
}

.logo-part-studio {
    color: var(--navy-blue);
}

.navigation-menu {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 76px;
    margin-right: 332px;
}

.menu-portfolio {
    margin-left: 40px;
    margin-right: 40px;
}

.contacts {
    margin: 0;
}

.contact-email {
    margin-right: 40px;
}



/* ---------HERO--------- */
.hero {
    background: var(--navy-blue);
}

.hero-text {
    text-align: center;
    margin: 0;
}

.hero-btn {
    justify-content: flex-start;
    background: var(--iris);
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 4%;
    color: white;
    border: 0;
    margin-left: 164px;
    cursor: pointer;
}



/* ---------FEATURES--------- */
.features-list {
    margin: 0;
}

.features-li {
    margin-right: 24px;
}



/* ---------OUR TEAM--------- */
.our-team {
    background-color: var(--cloud);
}

.our-team-header {
    margin: 0;
}

.team-list {
    margin-top: 72px;
    margin-bottom: 0;
}

.member {
    margin-right: 24px;
}

.our-team-text {
    text-align: center;
}



/* ---------PORTFOLIO--------- */
.portfolio-header {
    margin-top: 0;
    margin-bottom: 72px;
}

.offers {
    margin: 0;
}

.row {
    margin: 0;
}



/* ---------FOOTER--------- */
.footer {
    background-color: var(--navy-blue);
}

.footer-logo-studio {
    color: var(--cloud);
}

.invocation {
    margin: 0;
    margin-top: 16px;
    color: var(--cloud);
}