body {
    font-family: "Roboto", sans-serif;
    margin: 0;
}

:root {
    --iris: #4d5ae5;
    --ocean: #404bbf;
    --navy-blue: #2e2f42;
    --green: #31d0aa;
    --slate: #434455;
    --light-slate: #8e8f99;
    --cornflower: #e7e9fc;
    --cloud: #f4f4fd;
    --navy-blue-modal: rgba(46, 47, 66, 0.4);
    --grey: rgba(46, 47, 66, 0.7);
    --white: #fff;
    --dairy: #fcfcfc;
}

/* ---------HEADER--------- */
.main-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--navy-blue);
}

span.logo-1 {
    color: var(--iris);
}

.text-med {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
    color: var(--navy-blue);
}

.contact {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
    color: var(--slate);
}


/* ---------HERO--------- */
.hero {
    background: var(--navy-blue);
    padding: 188px 472px;
}

.hero-text {
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    letter-spacing: 2%;
    text-align: center;
    color: var(--white);
    margin: 0;
    padding-bottom: 48px;
}

.hero-btn {
    border-radius: 4px;
    padding: 16px 32px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: var(--iris);
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 4%;
    color: white;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 10px;
    border: 0;
    margin-left: 164px;
}
