body {
    font-family: "Roboto", sans-serif;
    margin: 0;
}

:root {
    --iris: #4d5ae5;
    --ocean: #404bbf;
    --navy-blue: #2e2f42;
    --green: #31d0aa;
    --slate: #434455;
    --light-slate: #8e8f99;
    --cornflower: #e7e9fc;
    --cloud: #f4f4fd;
    --navy-blue-modal: rgba(46, 47, 66, 0.4);
    --grey: rgba(46, 47, 66, 0.7);
    --white: #fff;
    --dairy: #fcfcfc;
}

h1 {
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    letter-spacing: 2%;
    text-align: center;
    color: var(--white);
}

h2 {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 2%;
    color: var(--navy-blue);
}

h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
}

.body--med-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
    color: var(--navy-blue);
}


/* ---------HEADER--------- */
.header {
    color: var(--white);
    padding: 24px 156px;
}

.main-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--navy-blue);
}

span.logo-1 {
    color: var(--iris);
}

.nav-ul {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 76px;
    margin-right: 332px;
    padding: 0;
}

.bmt-2 {
    margin-left: 40px;
    margin-right: 40px;
}

.cont-ul {
    padding: 0;
    margin: 0;
}

.contact {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
    color: var(--slate);
}

.contact-1 {
    margin-right: 40px;
}

/* ---------HERO--------- */
.hero {
    background: var(--navy-blue);
    padding: 188px 472px;
}

.hero-text {
    text-align: center;
    margin: 0;
    padding-bottom: 48px;
}

.hero-btn {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 10px;
    border-radius: 4px;
    padding: 16px 32px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: var(--iris);
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 4%;
    color: white;
    border: 0;
    margin-left: 164px;
}


/* ---------FEATURES--------- */
.features {
    padding: 120px 156px;
}